<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy==1.3.9 in /home/c64/.local/lib/python3.8/site-packages (1.3.9)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python3 -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
 !pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /home/c64/.local/lib/python3.8/site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in /home/c64/.local/lib/python3.8/site-packages (from ipython-sql) (8.5.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/c64/.local/lib/python3.8/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in /home/c64/.local/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in /home/c64/.local/lib/python3.8/site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: sqlparse in /home/c64/.local/lib/python3.8/site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/c64/.local/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: matplotlib-inline in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.4.0)
Requirement already satisfied: backcall in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: decorator in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: stack-data in /home/c64/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/c64/.local/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in /home/c64/.local/lib/python3.8/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in /home/c64/.local/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in /home/c64/.local/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.8)
Requirement already satisfied: executing in /home/c64/.local/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.1.0)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [6]:
%sql sqlite:///my_data1.db

In [7]:
from sqlalchemy.types import Date
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,05-11-2020,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,16-11-2020,00:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,21-11-2020,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,25-11-2020,02:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,06-12-2020,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

In [9]:

df['Date']= pd.to_datetime(df['Date'], infer_datetime_format=True).dt.date

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               101 non-null    object
 1   Time (UTC)         101 non-null    object
 2   Booster_Version    101 non-null    object
 3   Launch_Site        101 non-null    object
 4   Payload            101 non-null    object
 5   PAYLOAD_MASS__KG_  101 non-null    int64
 6   Orbit              101 non-null    object
 7   Customer           101 non-null    object
 8   Mission_Outcome    101 non-null    object
 9   Landing _Outcome   101 non-null    object
dtypes: int64(1), object(9)
memory usage: 8.0+ KB

In [12]:
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/c64/.local/lib/python3.8/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [13]:
names_LS=cur.execute('select distinct "LAUNCH_SITE" from SPACEXTBL;').fetchall()
for name in names_LS:
    print (name[0])

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [14]:
begin_w=cur.execute('select *  from SPACEXTBL where "LAUNCH_SITE" like \'CCA%\' limit 5;').fetchall()


for record in begin_w:
    display (record)

('2010-04-06',
 '18:45:00',
 'F9 v1.0  B0003',
 'CCAFS LC-40',
 'Dragon Spacecraft Qualification Unit',
 0,
 'LEO',
 'SpaceX',
 'Success',
 'Failure (parachute)')

('2010-08-12',
 '15:43:00',
 'F9 v1.0  B0004',
 'CCAFS LC-40',
 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese',
 0,
 'LEO (ISS)',
 'NASA (COTS) NRO',
 'Success',
 'Failure (parachute)')

('2012-05-22',
 '07:44:00',
 'F9 v1.0  B0005',
 'CCAFS LC-40',
 'Dragon demo flight C2',
 525,
 'LEO (ISS)',
 'NASA (COTS)',
 'Success',
 'No attempt')

('2012-08-10',
 '00:35:00',
 'F9 v1.0  B0006',
 'CCAFS LC-40',
 'SpaceX CRS-1',
 500,
 'LEO (ISS)',
 'NASA (CRS)',
 'Success',
 'No attempt')

('2013-01-03',
 '15:10:00',
 'F9 v1.0  B0007',
 'CCAFS LC-40',
 'SpaceX CRS-2',
 677,
 'LEO (ISS)',
 'NASA (CRS)',
 'Success',
 'No attempt')

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
total_mass_carried=cur.execute('select sum("PAYLOAD_MASS__KG_")  from SPACEXTBL where "CUSTOMER"=\'NASA (CRS)\';').fetchall()
print (total_mass_carried[0][0])

45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [16]:
average_mass_carried=cur.execute('select avg("PAYLOAD_MASS__KG_")  from SPACEXTBL where "BOOSTER_VERSION" like \'F9 v1.1%\';').fetchall()
print (average_mass_carried[0][0])

2534.6666666666665

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [18]:
first_success_land_outc=cur.execute('select min(Date) from SPACEXTBL where "Landing _Outcome" = "Success (ground pad)"').fetchall()
print (first_success_land_outc)

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [24]:
names_booster_success_droneship=cur.execute('select "Booster_Version" from SPACEXTBL where "Landing _Outcome" like \'Success (drone ship)\' AND "PAYLOAD_MASS__KG_">4000 AND "PAYLOAD_MASS__KG_"<6000;').fetchall()
display(names_booster_success_droneship)

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [32]:
total_number=cur.execute('select count (*) from SPACEXTBL ').fetchall()
number_success=cur.execute('select count (*) from SPACEXTBL where "Landing _Outcome" like \'Success%\';').fetchall()
number_failure=total_number[0][0]-number_success[0][0]
print ("successful: ",number_success[0][0])
print ("failure: ", number_failure)

successful:  61
failure:  40

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [37]:
max_payload=cur.execute('select "BOOSTER_VERSION",MAX(PAYLOAD_MASS__KG_),MIN(PAYLOAD_MASS__KG_,COUNT(*))  from SPACEXTBL GROUP BY "BOOSTER_VERSION" ').fetchall()
max_payload

[('F9 B4  B1039.2', 2647, 1),
 ('F9 B4  B1040.2', 5384, 1),
 ('F9 B4  B1041.2', 9600, 1),
 ('F9 B4  B1043.2', 6460, 1),
 ('F9 B4 B1039.1', 3310, 1),
 ('F9 B4 B1040.1', 4990, 1),
 ('F9 B4 B1041.1', 9600, 1),
 ('F9 B4 B1042.1', 3500, 1),
 ('F9 B4 B1043.1', 5000, 1),
 ('F9 B4 B1044', 6092, 1),
 ('F9 B4 B1045.1', 362, 1),
 ('F9 B4 B1045.2', 2697, 1),
 ('F9 B5  B1046.1', 3600, 1),
 ('F9 B5 B1046.2', 5800, 1),
 ('F9 B5 B1046.3', 4000, 1),
 ('F9 B5 B1046.4', 12050, 1),
 ('F9 B5 B1047.2', 5300, 1),
 ('F9 B5 B1047.3 ', 6500, 1),
 ('F9 B5 B1048.2', 3000, 1),
 ('F9 B5 B1048.3', 4850, 1),
 ('F9 B5 B1048.4', 15600, 1),
 ('F9 B5 B1048.5', 15600, 1),
 ('F9 B5 B1049.2', 9600, 1),
 ('F9 B5 B1049.3', 13620, 1),
 ('F9 B5 B1049.4', 15600, 1),
 ('F9 B5 B1049.5', 15600, 1),
 ('F9 B5 B1049.6', 15440, 1),
 ('F9 B5 B1049.7 ', 15600, 1),
 ('F9 B5 B1051.2 ', 4200, 1),
 ('F9 B5 B1051.3', 15600, 1),
 ('F9 B5 B1051.4', 15600, 1),
 ('F9 B5 B1051.5', 14932, 1),
 ('F9 B5 B1051.6', 15600, 1),
 ('F9 B5 B1056.2 ', 2268, 1),
 ('F9 B5 B1056.3 ', 6956, 1),
 ('F9 B5 B1056.4', 15600, 1),
 ('F9 B5 B1058.2 ', 5500, 1),
 ('F9 B5 B1058.3 ', 15600, 1),
 ('F9 B5 B1058.4 ', 2972, 1),
 ('F9 B5 B1059.2', 1977, 1),
 ('F9 B5 B1059.3', 15410, 1),
 ('F9 B5 B1059.4', 3130, 1),
 ('F9 B5 B1060.2 ', 15600, 1),
 ('F9 B5 B1060.3', 15600, 1),
 ('F9 B5B1047.1', 7075, 1),
 ('F9 B5B1048.1', 9600, 1),
 ('F9 B5B1049.1', 7060, 1),
 ('F9 B5B1050', 2500, 1),
 ('F9 B5B1051.1', 12055, 1),
 ('F9 B5B1054', 4400, 1),
 ('F9 B5B1056.1 ', 2495, 1),
 ('F9 B5B1058.1 ', 12530, 1),
 ('F9 B5B1059.1', 2617, 1),
 ('F9 B5B1060.1', 4311, 1),
 ('F9 B5B1061.1 ', 12500, 1),
 ('F9 B5B1062.1', 4311, 1),
 ('F9 B5B1063.1', 1192, 1),
 ('F9 FT  B1021.2', 5300, 1),
 ('F9 FT  B1029.2', 3669, 1),
 ('F9 FT  B1031.2', 5200, 1),
 ('F9 FT  B1032.2', 4230, 1),
 ('F9 FT  B1035.2', 2205, 1),
 ('F9 FT  B1036.2', 9600, 1),
 ('F9 FT  B1038.2', 2150, 1),
 ('F9 FT B1019', 2034, 1),
 ('F9 FT B1020', 5271, 1),
 ('F9 FT B1021.1', 3136, 1),
 ('F9 FT B1022', 4696, 1),
 ('F9 FT B1023.1', 3100, 1),
 ('F9 FT B1024', 3600, 1),
 ('F9 FT B1025.1', 2257, 1),
 ('F9 FT B1026', 4600, 1),
 ('F9 FT B1029.1', 9600, 1),
 ('F9 FT B1030', 5600, 1),
 ('F9 FT B1031.1', 2490, 1),
 ('F9 FT B1032.1', 5300, 1),
 ('F9 FT B1034', 6070, 1),
 ('F9 FT B1035.1', 2708, 1),
 ('F9 FT B1036.1', 9600, 1),
 ('F9 FT B1037', 6761, 1),
 ('F9 FT B1038.1', 475, 1),
 ('F9 v1.0  B0003', 0, 0),
 ('F9 v1.0  B0004', 0, 0),
 ('F9 v1.0  B0005', 525, 1),
 ('F9 v1.0  B0006', 500, 1),
 ('F9 v1.0  B0007', 677, 1),
 ('F9 v1.1', 4535, 5),
 ('F9 v1.1  B1003', 500, 1),
 ('F9 v1.1 B1010', 2216, 1),
 ('F9 v1.1 B1011', 4428, 1),
 ('F9 v1.1 B1012', 2395, 1),
 ('F9 v1.1 B1013', 570, 1),
 ('F9 v1.1 B1014', 4159, 1),
 ('F9 v1.1 B1015', 1898, 1),
 ('F9 v1.1 B1016', 4707, 1),
 ('F9 v1.1 B1017', 553, 1),
 ('F9 v1.1 B1018', 1952, 1)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [55]:
records_n=cur.execute('select Date,"Landing _Outcome",BOOSTER_VERSION,launch_site from SPACEXTBL  where "Landing _Outcome" = \'Failure (drone ship)\' and DATE like \'2015%\';').fetchall()
records_n
i=0
for record in records_n:
    print ("record: ", i)
    print ('\t',"month: ", record[0][5:7])
    print ('\t',"year: ", record[0][0:4])
    print ('\t',"landing outcome: ", record[1])
    print ('\t',"BOOSTER_VERSION: ", record[2])
    print ('\t',"launch_site: ", record[3])
    
    i=i+1

record:  0
	 month:  10
	 year:  2015
	 landing outcome:  Failure (drone ship)
	 BOOSTER_VERSION:  F9 v1.1 B1012
	 launch_site:  CCAFS LC-40
record:  1
	 month:  04
	 year:  2015
	 landing outcome:  Failure (drone ship)
	 BOOSTER_VERSION:  F9 v1.1 B1015
	 launch_site:  CCAFS LC-40

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [61]:
rank = con.execute ('select *  from SPACEXTBL where "Landing _Outcome" like \'Success%\' and Date > \'2010-06-04\' and Date < \'2017-03-20\' order by Date DESC ;' ).fetchall()
rank

[('2017-03-06',
  '21:07:00',
  'F9 FT B1035.1',
  'KSC LC-39A',
  'SpaceX CRS-11',
  2708,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('2017-02-19',
  '14:39:00',
  'F9 FT B1031.1',
  'KSC LC-39A',
  'SpaceX CRS-10',
  2490,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('2017-01-14',
  '17:54:00',
  'F9 FT B1029.1',
  'VAFB SLC-4E',
  'Iridium NEXT 1',
  9600,
  'Polar LEO',
  'Iridium Communications',
  'Success',
  'Success (drone ship)'),
 ('2017-01-05',
  '11:15:00',
  'F9 FT B1032.1',
  'KSC LC-39A',
  'NROL-76',
  5300,
  'LEO',
  'NRO',
  'Success',
  'Success (ground pad)'),
 ('2016-08-14',
  '05:26:00',
  'F9 FT B1026',
  'CCAFS LC-40',
  'JCSAT-16',
  4600,
  'GTO',
  'SKY Perfect JSAT Group',
  'Success',
  'Success (drone ship)'),
 ('2016-08-04',
  '20:43:00',
  'F9 FT B1021.1',
  'CCAFS LC-40',
  'SpaceX CRS-8',
  3136,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (drone ship)'),
 ('2016-07-18',
  '04:45:00',
  'F9 FT B1025.1',
  'CCAFS LC-40',
  'SpaceX CRS-9',
  2257,
  'LEO (ISS)',
  'NASA (CRS)',
  'Success',
  'Success (ground pad)'),
 ('2016-06-05',
  '05:21:00',
  'F9 FT B1022',
  'CCAFS LC-40',
  'JCSAT-14',
  4696,
  'GTO',
  'SKY Perfect JSAT Group',
  'Success',
  'Success (drone ship)'),
 ('2016-05-27',
  '21:39:00',
  'F9 FT B1023.1',
  'CCAFS LC-40',
  'Thaicom 8',
  3100,
  'GTO',
  'Thaicom',
  'Success',
  'Success (drone ship)'),
 ('2015-12-22',
  '01:29:00',
  'F9 FT B1019',
  'CCAFS LC-40',
  'OG2 Mission 2  11 Orbcomm-OG2 satellites',
  2034,
  'LEO',
  'Orbcomm',
  'Success',
  'Success (ground pad)')]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>